.main img{
    width:100px;
    height:auto;
    padding:10px;
    margin: 5px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 1px 2px blue;
}

.main img:hover{
    box-shadow: 1px 2px red;
    background-color: aqua;
}